---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
		<Header />
		<div class="mx-auto flex flex-col md:grid md:grid-cols-12">
			
			<div class="dark:prose-invert prose prose-slate prose-xl md:prose-lg md:col-span-9  mx-auto">
		<main>
			<section>
				{
					posts.map((post) => (
					  <div class="m-5">
						{post.data.category === 'Links' && (
						  <div class="card w-150 bg-base-200 shadow-xl">
							<a href={post.data.link} target="_blank"><h2 class="card-title flex justify-center">{post.data.title}</h2></a>
							<div class="divider"></div>
							<div class="card-body">
							  <p>{post.data.description}</p>
							</div>
						  </div>
						)}
						{post.data.category === 'Quote' && (
						  <div class="card-body bg-base-200 w-150">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-black relative top-2 left-2" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="m21.95 8.721-.025-.168-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222-.474.197.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0-.025-.168-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z"></path></svg>
							  <path d="..."/>
							</svg>
							<p>{post.data.description}</p>
						  </div>
						)}
						{post.data.category === 'Text' && (
						  <div class="card-body bg-accent text-accent-content w-150">
							<p>{post.data.description}</p>
						  </div>
						)}
						{post.data.category === 'Announcement' && (
						  <div class="card-body bg-base-200 w-150">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-black relative top-2 left-2" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M20.664 3.478 8 8v7l.748.267-1.127 2.254a1.999 1.999 0 0 0 1.156 2.792l4.084 1.361a2.015 2.015 0 0 0 2.421-1.003l1.303-2.606 4.079 1.457A1 1 0 0 0 22 18.581V4.419a1 1 0 0 0-1.336-.941zm-7.171 16.299L9.41 18.416l1.235-2.471 4.042 1.444-1.194 2.388zM4 15h2V8H4c-1.103 0-2 .897-2 2v3c0 1.103.897 2 2 2z"></path></svg>
							  <path d="..."/>
							</svg>
							<p>{post.data.description}</p>
						  </div>
						)}
						{post.data.category === 'Audio' && (
						  <div class="w-150 shadow-xl bg-base-200">
							<Image src={post.data.heroImage} alt={post.data.alt} format="avif" quality="mid" class="w-full" />
							<div class="card-body">
							  <h3><a href={post.data.link} target="_blank">{post.data.description}</a></h3>
							</div>
						  </div>
						)}
						{post.data.category === 'Image' && (
						<div class="w-150 shadow-xl bg-base-200">
  <figure><Image src={post.data.heroImage} alt={post.data.alt} format="avif" quality="mid"/></figure>
  <div class="card-body">
    
    <p>{post.data.description}</p>
 
  </div>
</div>
						)}
						
						{post.data.category === 'Post' && (

						
							<div class="w-150 bg-base-200 shadow-xl">
  <div class="card-body">
	<a href={`/blog/${post.slug}/`}> <h2 class="card-title">{post.data.title}</h2></a>
  </div>
  <figure><Image src={post.data.heroImage} alt={post.data.alt} format="avif" quality="mid"/></figure>
</div>
						)}
					  </div>
					))
				  }
				  
			</section>
		</main>
		</div>
		<div class="md:col-span-3">
			<aside>
				Text
			</aside>
		</div>
		</div>
		<Footer />
	</body>
</html>

