---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
		<Header />
		<div class="mx-auto flex flex-col md:grid md:grid-cols-12">
			
			<div class="dark:prose-invert prose prose-slate prose-xl md:prose-lg md:col-span-9  mx-auto">
		<main>
			<section>
				
					{
						posts.map((post) => (
							
									<a href={`/blog/${post.slug}/`} class="no-underline">
									<h4 class="title">{post.data.title}</h4>
									
									{post.data.category === 'Links' && (
        							<div>
         							 {<div class="card w-96 bg-base-200 shadow-xl">
 <a href={post.data.link}><h2 class="card-title flex justify-center">{post.data.title}</h2></a>
 <div class="divider"></div>
  <div class="card-body">
    <p>{post.data.description}</p>
  </div>
</div>}
      							  </div>
    								  )}
     								 {post.data.category === 'Quote' && (
    							    <div>
      							    {<div class="card-body bg-base-200">
										<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-black relative top-2 left-2" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="m21.95 8.721-.025-.168-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222-.474.197.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0-.025-.168-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065-.069.232-.14.468-.254.68-.114.308-.292.575-.469.844-.148.291-.409.488-.601.737-.201.242-.475.403-.692.604-.213.21-.492.315-.714.463-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939.597-.144c.191-.048.424-.104.689-.171.271-.05.56-.187.882-.312.317-.143.686-.238 1.028-.467.344-.218.741-.4 1.091-.692.339-.301.748-.562 1.05-.944.33-.358.656-.734.909-1.162.293-.408.492-.856.702-1.299.19-.443.343-.896.468-1.336.237-.882.343-1.72.384-2.437.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z"></path></svg>
    								<p>{post.data.description}</p>
  									</div>}
     							   </div>
   								   )}
	
     								 {post.data.category === 'Text' && (
    							    <div>
      							    {<div class="card-body bg-accent text-accent-content">
    								<p>{post.data.description}</p>
  									</div>}
     							   </div>
   								   )}

									  {post.data.category === 'Announcement' && (
    							    <div>
      							    {<div class="card-body bg-accent text-accent-content">
										<svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-black relative top-2 left-2" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><circle cx="12" cy="15" r="3"></circle><path d="M18 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-6 2a2 2 0 1 1-2 2 2 2 0 0 1 2-2zm0 16a5 5 0 1 1 5-5 5 5 0 0 1-5 5z"></path></svg>
    								<p>{post.data.description}</p>
  									</div>}
     							   </div>
   								   )}
								</a>
							
						))
					}
				
			</section>
		</main>
		</div>
		<div class="md:col-span-3">
			<aside>
				Text
			</aside>
		</div>
		</div>
		<Footer />
	</body>
</html>
